#both {
  width: 1400px;
  display: flex;
  justify-content: space-around;
}

.square {
  width: 50px;
  height: 50px;
  margin: 2px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  vertical-align: top;
}

.log {
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 456px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 665px;
  height: 550px;
  justify-content: space-around;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
}

.capturedContainer {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 428px;
  flex-direction: column;
  justify-content: space-between;
}

.timer {
  background-color: #366b4c;
  color: white;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  padding: 5px;
}

.capturedBox {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.capturedText {
  font-size: 25px;
}

.gg {
  width: 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

h3 {
  font-size: 12px;
  width: 160px;
  text-align: center;
}

button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover,
button:focus {
  opacity: 0.75;
}
